.env.development

MONGO_URI=mongodb+srv://Simonetta:llujif5WmIZwB6xx@codercito.szslbfx.mongodb.net/adopt_me?retryWrites=true&w=majority&appName=Codercito
PORT=8080
NODE_ENV=development

.env.production

MONGO_URI=mongodb+srv://Simonetta:llujif5WmIZwB6xx@codercito.szslbfx.mongodb.net/adopt_me?retryWrites=true&w=majority&appName=Codercito
PORT=3030
NODE_ENV=production

.env.test

MONGO_URI=mongodb+srv://Simonetta:llujif5WmIZwB6xx@codercito.szslbfx.mongodb.net/adopt_me_test?retryWrites=true&w=majority&appName=Codercito
PORT=3030
NODE_ENV=test